@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("./../fonts/Lato-Regular/Lato-Regular.woff2") format("woff2"), url("./../fonts/Lato-Regular/Lato-Regular.woff") format("woff"), url("./../fonts/Lato-Regular/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato-SemiBold";
  src: url("./../fonts/Lato-Semibold/Lato-Semibold.woff2") format("woff2"), url("./../fonts/Lato-Semibold/Lato-Semibold.woff") format("woff"), url("./../fonts/Lato-Semibold/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Korataki-Regular";
  src: url("./../fonts/Korataki-Regular/KoratakiRg-Regular.woff2") format("woff2"), url("./../fonts/Korataki-Regular/KoratakiRg-Regular.woff") format("woff"), url("./../fonts/Korataki-Regular/KoratakiRg-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Regular";
  src: url("./../fonts/Inter-Regular/Inter-Regular.woff2") format("woff2"), url("./../fonts/Inter-Regular/Inter-Regular.woff") format("woff"), url("./../fonts/Inter-Regular/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("./../fonts/Lato-Bold/Lato-Bold.woff2") format("woff2"), url("./../fonts/Lato-Bold/Lato-Bold.woff") format("woff"), url("./../fonts/Lato-Bold/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./../fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2"), url("./../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("./../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Lato-Regular";
  font-style: normal;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a, button, input {
  all: unset;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  transition: all 0.3s;
}

a:hover {
  cursor: pointer;
  text-underline-offset: 5px;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.header {
  width: 100%;
}

.container {
  padding-left: calc(50% - 700px);
  padding-right: calc(50% - 700px);
}

.bar_info {
  background: #231815;
  display: flex;
  justify-content: flex-end;
}
.bar_info__list {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  padding: 12px 0 12px;
}
.bar_info__li-link {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__main {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}
.header__main-right {
  display: flex;
  justify-content: space-between;
  gap: 130px;
  align-items: center;
}

.main_menu__list {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.main_menu__link {
  text-transform: uppercase;
  font-family: "Lato-SemiBold";
  font-size: 16px;
  line-height: 100%;
  color: #231815;
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__right-input {
  background: #fff;
  border: 1px solid #F5F5F5;
  border-radius: 88.6364px;
  padding: 9px 14px 9px 21px;
  max-width: 170px;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
}
.search__icon {
  display: flex;
  align-items: center;
  position: absolute;
  right: 14px;
}
.search__icon:hover {
  cursor: pointer;
}

.shopping_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: #000000;
  border-radius: 100px;
  padding: 3.5px 19px;
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 100%;
  color: #fff;
}
.shopping_cart__icon {
  position: relative;
}
.shopping_cart__icon::before {
  content: "3";
  position: absolute;
  top: 0px;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  background-color: #fff;
  text-align: center;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #1A1A1A;
}

.menu__check {
  display: none;
}

.mobile__menu {
  display: none;
}
.mobile__menu-icon {
  align-self: center;
}
.mobile__menu-icon:hover {
  cursor: pointer;
}

.content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.heading {
  font-family: "Korataki-Regular";
  font-size: 44px;
  line-height: 140%;
  color: #231815;
}

.products {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 22.86%);
  grid-column-gap: 40px;
  grid-row-gap: 50px;
}
.products__container {
  max-width: 320px;
  position: relative;
}
.products__discount::before {
  content: "Акция";
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 40px;
  background-color: #231815;
  border-radius: 100px;
  color: #fff;
  font-family: "Lato-SemiBold";
  font-size: 16px;
  line-height: 140%;
}
.products__img {
  width: 100%;
  border-radius: 20px;
}
.products__button {
  padding: 13px 0;
  background-color: #E45302;
  border-radius: 100px;
  font-family: "Lato-SemiBold";
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 31px;
  right: 31px;
  bottom: 20px;
  text-align: center;
}
.products__heading {
  font-family: "Lato-Bold";
  padding: 20px 0px 12px;
  font-size: 18px;
  line-height: 140%;
  color: #231815;
}
.products__price {
  font-family: "Lato-Bold";
  font-size: 22px;
  line-height: 140%;
  color: #231815;
}
.products__price-wrapper {
  display: flex;
  gap: 16px;
}
.products__price-best {
  color: #E45302;
}
.products__price-old {
  color: #808080;
}
.products__price-through {
  text-decoration: line-through;
}

.footer {
  background: #0C0C0C;
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
}
.footer__logo {
  padding-bottom: 53px;
}
.footer__text {
  max-width: 320px;
  font-family: "Roboto-Regular";
  font-size: 16px;
  line-height: 130%;
  color: #808080;
}
.footer__text-big {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.footer__contacts-block {
  grid-column-start: 2;
  grid-column-end: 3;
}
.footer__block1 {
  grid-row-start: 1;
  grid-row-end: 2;
}
.footer__block2 {
  grid-row-start: 2;
  grid-row-end: 3;
}
.footer__menu {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.footer__right {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.footer__contacts-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}
.footer__contacts-text {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 150%;
  color: #F5F5F5;
}
.footer__heading {
  font-family: "Lato-Bold";
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  max-width: 246px;
  padding-bottom: 20px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.footer__nav-link {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 100%;
  color: #F5F5F5;
}
.footer__right {
  display: flex;
  flex-direction: column;
  gap: 62px;
}
.footer__documents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}
.footer__link {
  text-decoration: underline;
}
.footer__cards {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 33px;
}

@media (max-width: 1600px) {
  .container {
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
  }
  .header__main-right {
    gap: 50px;
  }
  .header__right {
    gap: 23px;
  }
  .header__right-input {
    visibility: hidden;
  }
  .search__icon {
    border: 1px solid #231815;
    border-radius: 50%;
    padding: 9px;
    background-color: #231815;
    right: 0px;
  }
  .search__svg {
    width: 21.27px;
    height: 21.27px;
  }
  .search__svg path {
    fill: #fff;
  }
  .heading {
    font-size: 40px;
  }
  .products {
    grid-template-columns: repeat(4, 23.15%);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .products__button {
    left: 15px;
    right: 15px;
  }
  .footer {
    padding-top: 64px;
  }
  .footer__logo {
    padding-bottom: 56px;
  }
  .footer__right {
    gap: 72px;
  }
}
@media (max-width: 1239px) {
  .container {
    padding-left: calc(50% - 340px);
    padding-right: calc(50% - 340px);
  }
  .bar_info, .header__main-right {
    display: none;
  }
  .mobile__menu {
    display: flex;
    align-items: center;
  }
  .content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .heading {
    font-size: 32px;
  }
  .products {
    grid-template-columns: repeat(2, 47.06%);
    grid-column-gap: 40px;
    grid-row-gap: 50px;
  }
  .products__button {
    left: 31px;
    right: 31px;
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer__logo {
    padding-bottom: 33px;
  }
  .footer__text-big {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    align-self: end;
    padding-left: 58px;
    max-width: unset;
  }
  .footer__contacts-block {
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 37px;
  }
  .footer__block1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer__block2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .footer__menu {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    padding-bottom: 40px;
  }
  .footer__right {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .footer__documents {
    align-items: flex-start;
  }
  .footer__cards {
    justify-content: flex-start;
  }
}
@media (max-width: 699px) {
  .container {
    padding-left: calc(50% - 160px);
    padding-right: calc(50% - 160px);
  }
  .header__main {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .heading {
    font-size: 24px;
  }
  .products {
    padding-top: 24px;
    grid-template-columns: repeat(2, 48.44%);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }
  .products__button {
    left: 10px;
    right: 10px;
    padding: 6px 0;
    font-size: 14px;
  }
  .products__heading {
    padding: 10px 0px 11px;
    font-size: 16px;
  }
  .products__price {
    font-size: 16px;
  }
  .products__price-wrapper {
    gap: 10px;
  }
  .products__discount::before {
    padding: 2px 15px;
    font-size: 14px;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__text-big {
    grid-column-start: unset;
    grid-column-end: unset;
    grid-row-start: 6;
    grid-row-end: 7;
    align-self: unset;
    padding-left: unset;
    max-width: unset;
  }
  .footer__contacts-block {
    grid-row-start: unset;
    grid-row-end: unset;
    padding-bottom: 30px;
  }
  .footer__block1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer__block2 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer__heading {
    padding-bottom: 10px;
  }
  .footer__menu {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-bottom: 30px;
  }
  .footer__menu-heading {
    padding-bottom: 20px;
  }
  .footer__right {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    padding-bottom: 30px;
  }
  .footer__documents {
    align-items: flex-start;
  }
  .footer__cards {
    justify-content: flex-start;
  }
}/*# sourceMappingURL=style.css.map */