$font_1: 'Lato-Regular';
$font_2: 'Lato-SemiBold';
$font_3: 'Inter-Regular';
$font_4: 'Lato-Bold';
$color_1: #231815;
$color_2: #E45302;

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('./../fonts/Lato-Regular/Lato-Regular.woff2') format('woff2'),
        url('./../fonts/Lato-Regular/Lato-Regular.woff') format('woff'),
        url('./../fonts/Lato-Regular/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-SemiBold';
    src: url('./../fonts/Lato-Semibold/Lato-Semibold.woff2') format('woff2'),
        url('./../fonts/Lato-Semibold/Lato-Semibold.woff') format('woff'),
        url('./../fonts/Lato-Semibold/Lato-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Korataki-Regular';
    src: url('./../fonts/Korataki-Regular/KoratakiRg-Regular.woff2') format('woff2'),
        url('./../fonts/Korataki-Regular/KoratakiRg-Regular.woff') format('woff'),
        url('./../fonts/Korataki-Regular/KoratakiRg-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('./../fonts/Inter-Regular/Inter-Regular.woff2') format('woff2'),
        url('./../fonts/Inter-Regular/Inter-Regular.woff') format('woff'),
        url('./../fonts/Inter-Regular/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('./../fonts/Lato-Bold/Lato-Bold.woff2') format('woff2'),
        url('./../fonts/Lato-Bold/Lato-Bold.woff') format('woff'),
        url('./../fonts/Lato-Bold/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: $font_1;
    font-style: normal;
}

a, input {
    all: unset;
}

ul {
    list-style-type: none;
}

.header {
    width: 100%;
}

.container {
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
}

.bar_info {
    background: $color_1;
    display: flex;
    justify-content: flex-end;
    

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 70px;
        padding: 12px 0 12px;
    }

    &__li-link {
        font-family: $font_1;
        font-size: 16px;
        line-height: 100%;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.header__main {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;

    &-right {
        display: flex;
        justify-content: space-between;
        gap: 130px;
        align-items: center;
    }
}

.main_menu {
    &__list{
        display: flex;
        justify-content: space-between;
        gap: 100px;
    }    

    &__link {
        text-transform: uppercase;
        font-family: $font_2;
        font-size: 16px;
        line-height: 100%;
        color: $color_1;
    }
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.search {
    background: #FFFFFF;
        border: 1px solid #F5F5F5;
        border-radius: 88.6364px;
        padding: 9px 14px 9px 21px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__icon {
            display: flex;
            align-items: center;
        }
}

.shopping_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #000000;
    border-radius: 100px;
    padding: 3.5px 19px;
    

    &__icon {
        position: relative;

        &::before {
            content: "3";
            position: absolute;
            top: 0px;
            left: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18px;
            height: 18px;
            border-radius: 100px;
            background-color: #fff;
            text-align: center;
            font-family: $font_3;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            color: #1A1A1A;
        }
    }

    &__text {
        font-family: $font_1;
        font-size: 16px;
        line-height: 100%;
        color: #FFFFFF;
    }
}

.content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.heading {
    font-family: 'Korataki-Regular';
    font-size: 44px;
    line-height: 140%;
    color: $color_1;
}

.products {
    padding-top: 40px;

    &__container {
        max-width: 320px;
        position: relative;
    }

    &__img {
        width: 100%;
        border-radius: 20px;
    }

    &__button {
        padding: 13px 87px;
        background-color: $color_2;
        border-radius: 100px;
        font-family: $font_2;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
        position: absolute;
        left: 31px;
        bottom: 20px;
    }

    &__heading {
        font-family: $font_4;
        padding: 20px 0px 12px;
        font-size: 18px;
        line-height: 140%;
        color: $color_1;
    }

    &__price {
        font-family: $font_4;
        font-size: 22px;
        line-height: 140%;
        color: $color_1;
    }
}