$font_1: 'Lato-Regular';
$font_2: 'Lato-SemiBold';
$font_3: 'Inter-Regular';
$font_4: 'Lato-Bold';
$font_5: 'Roboto-Regular';
$color_1: #231815;
$color_2: #E45302;
$color_3: #fff;
$color_4: #808080;
$color_5: #F5F5F5;
$color_footer: #0C0C0C;

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('./../fonts/Lato-Regular/Lato-Regular.woff2') format('woff2'),
        url('./../fonts/Lato-Regular/Lato-Regular.woff') format('woff'),
        url('./../fonts/Lato-Regular/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-SemiBold';
    src: url('./../fonts/Lato-Semibold/Lato-Semibold.woff2') format('woff2'),
        url('./../fonts/Lato-Semibold/Lato-Semibold.woff') format('woff'),
        url('./../fonts/Lato-Semibold/Lato-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Korataki-Regular';
    src: url('./../fonts/Korataki-Regular/KoratakiRg-Regular.woff2') format('woff2'),
        url('./../fonts/Korataki-Regular/KoratakiRg-Regular.woff') format('woff'),
        url('./../fonts/Korataki-Regular/KoratakiRg-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('./../fonts/Inter-Regular/Inter-Regular.woff2') format('woff2'),
        url('./../fonts/Inter-Regular/Inter-Regular.woff') format('woff'),
        url('./../fonts/Inter-Regular/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('./../fonts/Lato-Bold/Lato-Bold.woff2') format('woff2'),
        url('./../fonts/Lato-Bold/Lato-Bold.woff') format('woff'),
        url('./../fonts/Lato-Bold/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./../fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
        url('./../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
        url('./../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: $font_1;
    font-style: normal;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a, button, input{
    all: unset;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    transition: all 0.3s;
}

a:hover {
    cursor: pointer;
    text-underline-offset: 5px;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

.header {
    width: 100%;
}

.container {
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
}

.bar_info {
    background: $color_1;
    display: flex;
    justify-content: flex-end;
    

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 70px;
        padding: 12px 0 12px;
    }

    &__li-link {
        font-family: $font_1;
        font-size: 16px;
        line-height: 100%;
        color: $color_3;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.header__main {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;

    &-right {
        display: flex;
        justify-content: space-between;
        gap: 130px;
        align-items: center;
    }
}

.main_menu {
    &__list{
        display: flex;
        justify-content: space-between;
        gap: 100px;
    }    

    &__link {
        text-transform: uppercase;
        font-family: $font_2;
        font-size: 16px;
        line-height: 100%;
        color: $color_1;
    }
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    &-input {
        background: $color_3;
        border: 1px solid $color_5;
        border-radius: 88.6364px;
        padding: 9px 14px 9px 21px;
        max-width: 170px;
    }
}

.search {
    display: flex;
    align-items: center;
    position: relative;

    &__icon {
        display: flex;
        align-items: center;
        position: absolute;
        right: 14px;

        &:hover {
            cursor: pointer;
        }
    }
}

.shopping_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #000000;
    border-radius: 100px;
    padding: 3.5px 19px;
    font-family: $font_1;
    font-size: 16px;
    line-height: 100%;
    color: $color_3;
    

    &__icon {
        position: relative;

        &::before {
            content: "3";
            position: absolute;
            top: 0px;
            left: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18px;
            height: 18px;
            border-radius: 100px;
            background-color: $color_3;
            text-align: center;
            font-family: $font_3;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            color: #1A1A1A;
        }
    }
}

.menu__check {
    display: none;
}

.mobile__menu{
    display: none;
    
    &-icon {        
        align-self: center;

        &:hover {
            cursor: pointer;
        }
    }
}

.content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.heading {
    font-family: 'Korataki-Regular';
    font-size: 44px;
    line-height: 140%;
    color: $color_1;
}

.products {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 22.86%);
    grid-column-gap: 40px;
    grid-row-gap: 50px;

    &__container {
        max-width: 320px;
        position: relative;        
    }

    &__discount {
        &::before {
            content: 'Акция';
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 8px 40px;
            background-color: $color_1;
            border-radius: 100px;
            color: $color_3;
            font-family: $font_2;
            font-size: 16px;
            line-height: 140%;
        }
    }

    &__img {
        width: 100%;
        border-radius: 20px;
    }

    &__button {
        padding: 13px 0;
        background-color: $color_2;
        border-radius: 100px;
        font-family: $font_2;
        font-size: 16px;
        line-height: 140%;
        color: $color_3;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 31px;
        right: 31px;
        bottom: 20px;
        text-align: center;
    }

    &__heading {
        font-family: $font_4;
        padding: 20px 0px 12px;
        font-size: 18px;
        line-height: 140%;
        color: $color_1;
    }

    &__price {
        font-family: $font_4;
        font-size: 22px;
        line-height: 140%;
        color: $color_1;

        &-wrapper {
            display: flex;
            gap: 16px;
        }

        &-best {
            color: $color_2;
        }

        &-old {
            color: $color_4;
        }

        &-through {
            text-decoration: line-through;
        }
    }
}

.footer {
    background: $color_footer;
    padding-top: 60px;
    padding-bottom: 60px;
    // display: flex;
    // justify-content: space-between;
    display: grid;
    
    &__logo {
        padding-bottom: 53px;
    }

    &__text {
        max-width: 320px;
        font-family: $font_5;
        font-size: 16px;
        line-height: 130%;
        color: $color_4;

        &-big {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }

    
    &__contacts-block {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    &__block1 {
        grid-row-start: 1;
        grid-row-end: 2;
    }
        
    &__block2 {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    &__menu {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    &__right {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    &__contacts {
        &-paragraph {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 25px;
        }

        &-text {
            font-family: $font_1;
            font-size: 16px;
            line-height: 150%;
            color: $color_5;
        }
    }

    &__heading {
        font-family: $font_4;
        font-size: 18px;
        line-height: 100%;
        color: $color_3;
        max-width: 246px;
        padding-bottom: 20px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__nav {
        &-list{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
        }

        &-link {
            font-family: $font_1;
            font-size: 16px;
            line-height: 100%;
            color: $color_5;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 62px;
    }

    &__documents {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        gap: 20px;
    }

    &__link {
        text-decoration: underline;
    }

    &__cards {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 33px;
    }
}

@media(max-width: 1600px) {
    .container {
        padding-left: calc(50% - 620px);
        padding-right: calc(50% - 620px);
    }

    .header__main-right {
        gap: 50px;
    }

    .header__right {
        gap: 23px;
    }

    .header__right-input {
        visibility: hidden;
    }

    .search {
        &__icon {
            border: 1px solid $color_1;
            border-radius: 50%;
            padding: 9px;
            background-color: $color_1;
            right: 0px;
        }
        

        &__svg {
            width: 21.27px;
            height: 21.27px;
        }

        &__svg path {
            fill: $color_3;
        }
    }

    .heading {
        font-size: 40px;
    }

    .products {
        grid-template-columns: repeat(4, 23.15%);
        grid-column-gap: 30px;
        grid-row-gap: 30px;

        &__button {
            left: 15px;
            right: 15px;
        }
    }

    .footer {
        padding-top: 64px;

        &__logo {
            padding-bottom: 56px;
        }

        &__right {
            gap: 72px;
        }
    }
}

@media(max-width: 1239px) {
    .container {
        padding-left: calc(50% - 340px);
        padding-right: calc(50% - 340px);
    }

    .bar_info, .header__main-right {
        display: none;
    }

    .mobile__menu{
        display: flex;
        align-items: center;
    }

    .content {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .heading {
        font-size: 32px;
    }

    .products {
        grid-template-columns: repeat(2, 47.06%);
        grid-column-gap: 40px;
        grid-row-gap: 50px;
        
        &__button {
            left: 31px;
            right: 31px;
        }
    }

    .footer {
        padding-top: 50px;
        padding-bottom: 50px;

        &__logo {
            padding-bottom: 33px;
        }

        &__text-big {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 5;
            align-self: end;
            padding-left: 58px;
            max-width: unset;
        }

        &__contacts-block {
            grid-row-start: 2;
            grid-row-end: 3;
            padding-bottom: 37px;
        }

        &__block1 {
            grid-column-start: 1;
            grid-column-end: 2;
        }

        &__block2 {
            grid-column-start: 2;
            grid-column-end: 3;
        }

        &__menu {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 4;
            padding-bottom: 40px;
        }

        &__right {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 5;
        }

        &__documents {
            align-items: flex-start;
        }

        &__cards {
            justify-content: flex-start;
        }
    }
}

@media(max-width: 699px) {
    .container {
        padding-left: calc(50% - 160px);
        padding-right: calc(50% - 160px);
    }

    .header__main {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .content {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .heading {
        font-size: 24px;
    }

    .products {
        padding-top: 24px;
        grid-template-columns: repeat(2, 48.44%);
        grid-column-gap: 10px;
        grid-row-gap: 30px;

        &__button {
            left: 10px;
            right: 10px;
            padding: 6px 0;
            font-size: 14px;
        }

        &__heading {
            padding: 10px 0px 11px;
            font-size: 16px;
        }

        &__price {
            font-size: 16px;

            &-wrapper {
                gap: 10px;
            }
        }

        &__discount::before {
            padding: 2px 15px;
            font-size: 14px;
        }
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;

        &__text-big {
            grid-column-start: unset;
            grid-column-end: unset;
            grid-row-start: 6;
            grid-row-end: 7;
            align-self: unset;
            padding-left: unset;
            max-width: unset;
        }

        &__contacts-block {
            grid-row-start: unset;
            grid-row-end: unset;
            padding-bottom: 30px;
        }

        &__block1 {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2;
        }

        &__block2 {
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 2;
        }

        &__heading {
            padding-bottom: 10px;
        }

        &__menu {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
            padding-bottom: 30px;

            &-heading {
                padding-bottom: 20px;
            }
        }

        &__right {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 5;
            grid-row-end: 6;
            padding-bottom: 30px;
        }

        &__documents {
            align-items: flex-start;
        }

        &__cards {
            justify-content: flex-start;
        }
    }
}